@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
	--primary-white: #fff;
	--primary-blue: rgb(22, 189, 218);
	--primary-dark: #212529;
	--primary-red: (187, 47, 47);
	--primary-hover-red: rgb(134, 13, 13);
}

body {
	font-family: 'Karla', sans-serif;
}

/**---------------NAVBAR----------------**/
.logo {
	width: 7.25rem;
}

nav {
	height: auto;
	padding: 0px !important;
}

nav a.nav-link {
	letter-spacing: 0.0375rem;
	cursor: pointer;
	font-size: 0.9rem;
}

nav ul li {
	text-transform: uppercase;
}

h1 {
	font-family: 'Merienda One', cursive;
}

.navbar-nav > li > a {
	color: var(--primary-white) !important;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	border-bottom: 0.18rem solid var(--primary-dark);
}

.navbar-nav > li:last-child {
	margin-right: 3rem;
}

.navbar-brand {
	max-width: 7.25rem;
	padding: 0px !important;
	height: 6rem;
}

.navbar-brand > img {
	height: 90px;
	width: 100px;
}

.navbar-nav > li > a:focus {
	border-bottom: 0.18rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
	border-bottom: 0.18rem solid var(--primary-blue);
}

/**---------------HEADER----------------**/

.header-wraper {
	height: 90vh;
	display: flex;
	overflow: hidden;
	background-image: linear-gradient(
		to bottom,
		#f6fbfd,
		#f9fcfe,
		#fbfdfe,
		#fdfeff,
		#ffffff
	);
}

.header-wraper .left {
	flex: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}

ul,
ol {
	list-style: none;
	padding: 0px;
}

.social-media-links {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin-top: 10px;
}

.social_item {
	cursor: pointer;
	z-index: 1;
}

.fab,
.fas,
.far {
	font-size: 30px;
	margin: 25px 20px;
	color: black;
}

.fab:hover {
	color: rgb(2, 121, 190);
}

.far:hover {
	color: rgb(2, 121, 190);
}

.imgContainer {
	border-radius: 50%;
	width: 500px;
	height: 500px;
	position: relative;
}

.imgContainer img {
	box-shadow: 0 5px 50px rgba(0, 0, 0, 0.288);
	width: 80%;
	height: 80%;
	position: absolute;
	left: 20%;
	top: 5%;
	border-radius: 5%;
	z-index: 0;
}

.header-wraper .right {
	flex: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1 {
	color: var(--primary-dark);
	font-weight: 600;
}

.typed-text {
	color: var(--primary-blue);
	font-size: 2rem;
}

.tsparticles-canvas-el {
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/****PORTFOLIO****/
.portfolio {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	margin-bottom: 5rem;
}

.portfolio h1 {
	margin-top: 7rem;
	font-size: 50px;
	margin-bottom: 1.5rem;
}

.portfolio ul {
	margin: 0px auto;
	padding: 0;
	list-style: none;
	display: flex;
}

.portfolio li {
	font-size: 14px;
	margin-right: 20px;
	padding: 0.7;
	cursor: pointer;
	text-align: center;
}

.portfolioList {
	padding: 10px;
	margin-right: 0px;
}

.active {
	background-color: var(--primary-blue);
	color: white;
	padding: 10px;
	margin: 0px;
}

.container {
	width: 70%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	margin: 3rem 1.5rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all 0.5s ease;
	cursor: pointer;
	padding: 10px;
	width: 800px;
	height: auto;
}

.item-description {
	height: 350px;
	max-width: 50%;
	overflow: auto;
	margin-right: 1rem;
	padding: 1rem;
}

.item-links {
	margin-top: 2rem;
}

.item-links > a {
	text-decoration: none;
}

.item-description p {
	word-wrap: break-word;
}

.item-description-text {
	margin-top: 1rem;
	height: auto;
}

.item-description-link {
	margin: 10px;
	font-weight: 500;
	color: var(--primary-blue);
	padding: 8px;
}

.item-description-link:hover {
	background-color: var(--primary-blue);
	color: white;
	padding: 8px;
}

.item-desscription-title {
	margin-top: 1.5rem;
	color: var(--primary-blue);
}

.item-desscription-text {
	margin-top: 1.5rem;
}

.item-img {
	width: 45%;
	/* overflow: hidden; */
	object-fit: cover;
}

.item img {
	margin-top: 0.75rem;
	width: 50%;
	object-fit: cover;
	height: 360px;
	position: relative;
	transition: transform 0.9s ease;
}

.item img:hover {
	transform: scale(1.2);
}

.item-img div {
	position: absolute;
	top: 130px;
	left: 140px;
}

/*****CONTACT****/

.contact-container {
	height: 90vh;
	align-items: center;
	display: flex;
}

.contact-right input,
textarea {
	margin-top: 10px;
	border-radius: 5px;
	outline: none;
}

.contact-left {
	flex: 1;
}

.contact-left img {
	width: 100%;
	height: 100%;
}

.contact-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
}

.contact-right h2 {
	font-size: 40px;
}

.contact-right form {
	width: 70%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.contact-right textarea {
	width: 300px;
	height: 200px;
	font-size: 14px;
}

.contact-right button {
	width: 150px;
	height: 45px;
	color: white;
	background-color: var(--primary-blue);
	border-radius: 5px;
	cursor: pointer;
	border: none;
	font-weight: 500;
	padding: 10px;
}

.contact-right button:hover {
	background-color: rgb(88, 148, 204);
}

input {
	width: 300px;
	height: 30px;
	font-size: 14px;
	border: none;
}

input:focus {
	border: var(--primary-blue) solid 2px;
	transition: border-bottom 0.2s ease;
}

textarea {
	border: none;
}

textarea:focus {
	transition: border 0.2s ease;
	border: var(--primary-blue) solid 2px;
}

@media (max-width: 768px) {
	nav {
		height: auto;
	}
	.header-wraper {
		display: inline;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.header-wraper .right {
		display: inline;
	}

	.header-wraper .left {
		display: inline;
	}

	.imgContainer {
		margin: 0 auto;
		height: 400px;
		width: 350px;
	}

	.imgContainer > img {
		height: auto;
		border-radius: 5%;
		position: relative;
		margin-top: 2rem;
		left: 10%;
		right: 15%;
	}

	.item {
		display: flex;
		flex-direction: column;
		width: 350px;
		height: auto;
		margin: 1rem 1rem;
	}

	.item-img {
		height: 400px;
		width: 100%;
	}

	.item-img > img {
		width: 60%;
		height: 100%;
	}

	.item img:hover {
		transform: none;
	}

	.item-description {
		margin-top: 1.5rem;
		overflow: scroll;
		width: 100% !important;
		max-width: none;
		text-align: justify;
	}

	.item-desscription-title {
		text-align: center;
	}

	.item-links {
		display: flex;
	}

	.item-links > a {
		text-decoration: none;
	}

	.item-description-link {
		width: 50%;
		text-align: center;
	}

	.particles {
		display: none;
	}

	.main-info h1 {
		font-size: 1.5rem !important;
	}

	.typed-text {
		font-size: 1.3rem !important;
	}

	.navbar-brand {
		padding: 0px;
		width: 1rem !important;
	}

	/* .contact-left {
		flex: 1;
	}
	
	.contact-left img {
		width: 100%;
		height: 100%;
	}
	*/

	.contact-container {
		height: 90vh;
		display: inline;
	}

	.contact-right {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 600px;
	}
}
