@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
	--primary-white: #fff;
	--primary-green: rgb(73, 199, 73);
	--primary-dark: #212529;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

/**NAVBAR**/
.logo {
	width: 7.25rem;
}

nav a.nav-link {
	letter-spacing: 0.0375rem;
	cursor: pointer;
	font-size: 0.8rem;
}

nav ul li {
	text-transform: uppercase;
}

.navbar-nav > li > a {
	color: var(--primary-white) !important;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	border-bottom: 0.18rem solid var(--primary-dark);
}

.navbar-nav > li:last-child {
	margin-right: 3rem;
}

.navbar-brand {
	max-width: 7.25rem;
	padding: 0;
	height: 7rem;
}

.navbar-nav > li > a:focus {
	border-bottom: 0.18rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
	border-bottom: 0.18rem solid var(--primary-green);
}
